*{
    padding:0;
    border:0;
    margin:0;
}
body{
width: 100%;
height: 100%;
background-color: #000;
}
.wrapper{
    width: 100%;
    height: 100%;
    background-color: #000;
    color:white;
    display: flex;
    justify-content: center;
}
.container{
    background-color:rgba(15, 15, 15, 1);
    max-width: 1200px;
min-height:200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    padding: 1vw;
    max-height: 8vw;
max-width: 100%;
display: flex;
flex-direction: row;
border-top: 1px solid white;
border-bottom: 1px solid white;
}
.titleHeader{
    font-size: 1.2vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 33.3333%;
border-right: 1px solid white;
}
.sourceHeader{
    font-size: 1vw;
width: 66.66666%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}
.source{
    padding: 0% 2%;
width: 33.33333%;
text-align: center;
}
.intoduction{
    letter-spacing: 0.15vw;
    padding: 1vw;
    font-size: 1vw;
    width: 70%;
    color:rgba(255, 255, 255, 0.592);
}
.block_1{
    max-height: 60vh;
    line-height: 2vw;
    padding: 1.4vw;
max-width: 100%;
}
.titleBlock1{
text-align: center;
font-size: 1.2vw;
}
.textBlock1{
    font-size: 1vw;
    letter-spacing: 0.15vw;
line-height: 1.5vw;
}
.block_2{
    height: 30vw;
    max-width: 100%;
display: flex;
flex-direction: column;
}
.titleBlock2{
    font-size: 1.2vw;
text-align: center;
}
.Group1{
    margin-top: 1%;
    height: 60vw;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1vw;
    line-height: 1.2vw;
}
.group1{
    max-width: 33.33333%;
display: flex;
flex-direction: column;
}
.group2{
    max-width: 33.33333%;
    display: flex;
    flex-direction: column;
}
.group3{
    max-width: 33.33333%;
    display: flex;
    flex-direction: column;
}
.textGroup1{
    letter-spacing: 0.1vw;
    width: 100%;
}
.textGroup2{
    letter-spacing: 0.1vw;
    width: 100%;
}
.textGroup3{
    letter-spacing: 0.1vw;
    width: 100%;
}
.imgGroup1{
    width:100%;
    height: 70%;
background-image:url("./image-4.png") ;
background-size: cover;
background-repeat: no-repeat
}
.imgGroup2{
    width:100%;
    height: 70%;
background-image:url("./screen-0.jpg");
background-size: cover;
background-repeat: no-repeat
}
.imgGroup3{
    width:100%;
    height: 70%;
background-image:url("./cross-platform-concept-banner-building-mobile-interface-screen-laptop-smartphone-tablet-developers-use-software-multiple-140348786.webp");
background-size: cover;
background-repeat: no-repeat;
}
.titleGroup{
    padding: 2% 0%;
    width: 100%;
    font-size: 1.1vw;
    text-align: center;
}
.block_3{
max-width: 100%;
display: flex;
flex-direction: column;
}
.Group2{
    margin-top: 1%;
    height: 30vw;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1vw;
    line-height: 1.2vw;
}
.titleBlock3{
    margin: 2vw;
    font-size: 1.2vw;
    max-width: 100%;
    max-height: 3vh;
    text-align: center;
}
.textGroup{
    letter-spacing: 0.15vw;
    line-height: 1.5vw;
padding: 0vw 1.5vw;
}
.imgGroup{
    width: 30vw;
     height: 30vw;
    max-height: 90%;
    background-image:url("./ssloiEN3wB0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    font-size: 1.2vw;
    max-width: 100%;
    height: 2vw;
background-color: rgba(35, 35, 35, 1);
}
.content{
    width: 100%;
    height: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}
.textFooter{
    text-align: center;
width: 32%;
}
.sourceFooter1{
    text-align: center;
    height: 100%;
    width: 32%;
    display: flex;
    justify-content: center;
}
.image1{
    width:2vw;
    height: 2vw;
background-image: url("./icons8-телеграмма-app-48.svg");
background-size: cover;
background-repeat: no-repeat;
}
.sourceFooter2{
    text-align: center;
    height: 100%;
    width: 32%;
    display: flex;
    justify-content: center;
}
.image2{
    width: 2vw;
    height: 2vw;
background-image: url("./icons8-vk-в-круге-48.svg");
background-size: cover;
background-repeat: no-repeat;
}