@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bad+Script&family=Caveat:wght@400..700&family=Poiret+One&display=swap');
*{
    padding:0;
    border:0;
    margin:0;
}
body{
width: 100%;
height: 100%;
background-color: #000;
}
.wrapper{
    width: 100%;
    height: 100%;
    background-color: #000;
    color:white;
    display: flex;
    justify-content: center;
}
.container{
    background-color:rgba(15, 15, 15, 1);
    max-width: 1200px;
min-height:200vh;
    display: flex;
    flex-direction: column;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;

}
@media(max-width:3000px){
    .menu{
        display: none;
    }
}
@media (max-width:1200px){
    .container{
        max-width: 1000px;
    }
}
@media (max-width:1000px){
    .container{
        max-width: 768px;
    }
}
@media (max-width:768px){
    .container{
        max-width: 100vw;
    }
    .source{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media (max-width:480px){
}
header{
    font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
    padding: 1vw;
    max-height: 8vw;
max-width: 100%;
display: flex;
flex-direction: row;
border-top: 1px solid white;
border-bottom: 1px solid white;
}
@media (max-width:768px){
header{
    margin-top: 2vw;
    max-height: 50vh;
}
}

.titleHeader{
    font-size: 1.2vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 33.3333%;
border-right: 1px solid white;
}

@media (max-width:1200px){
    .titleHeader{
        width: 66.6666%;
        font-size: 2vw;
    }
}
@media (max-width:768px){
    .titleHeader{
        width: 66.6666%;
        font-size: 4vw;
    }
}
.sourceHeader{
    font-size: 1vw;
width: 66.66666%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}
@media (max-width:768px){
    .sourceHeader{
        width: 33.33333%;
    }
}
.source{
    padding: 0% 2%;
width: 33.33333%;
text-align: center;
cursor: pointer;
}
@media (max-width:768px){
    .source{
        display: none;
    }

}
@media (max-width:1200px){
    .source{
        font-size: 1.5vw;
    }

}
.intoduction{
    letter-spacing: 0.15vw;
    padding: 1vw;
    font-size: 1vw;
    width: 80%;
    color:rgba(255, 255, 255, 0.592);
        font-family: "Poiret One", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}
@media (max-width:768px){
    .intoduction{
        min-height: 3vh;
        font-size: 4vw;
        margin: 7% 0%
    }
}
@media (max-width:1200px){
    .intoduction{
        font-size: 2vw;
    }
}
.block_1{
margin-top: 5vw;
    line-height: 2vw;
    padding: 1.4vw;
max-width: 100%;
}
@media (max-width:768px){
   .block_1{
    max-width: 100vw;
    min-height: 100vw;
   }
}
@media (max-width:480px){
    .block_1{
     max-width: 100vw;
     min-height: 40vw;
    }
 }
.titleBlock1{
text-align: center;
font-size: 1.8vw;
}

@media (max-width:1200px){
    .titleBlock1{
        font-size: 4vw;
    }
}
@media (max-width:768px){
    .titleBlock1{
        font-size: 4vw;
        margin-bottom: 2vw;
    }
}
.textBlock1{
    margin-top: 5vw;
    margin-left: 5vw;
    width: 60vw;
    font-size: 3vw;
    letter-spacing: 0.15vw;
line-height: 4vw;
}

@media (max-width:1200px){
    .textBlock1{
font-size: 2vw;    
line-height: 4vw;
}
}
@media (max-width:768px){
    .textBlock1{
        width: 90%;
        height: 30vh;
font-size:3vw;    
line-height: 4vw;
}
}

@media (max-width:480px){
    .textBlock1{
        width: 90%;
        height: 90vw;
font-size:3vw;    
line-height: 4vw;
}
}
.block_2{
    max-height:40vw;
    max-width: 100%;
    margin-top: 1vw;
display: flex;
flex-direction: column;
}
@media (max-width:768px){
    .block_2{
max-height: 300vw;
min-height: 100vw;
display: flex;
flex-direction: column;
}
}
@media (max-width:480px){
    .block_2{
max-height: 300vw;
min-height: 150vw;
display: flex;
flex-direction: column;
justify-content: space-around;
}
}
.titleBlock2{
    font-size: 1.8vw;
text-align: center;
}
@media (max-width:1200px){
    .titleBlock2{
font-size: 2.5vw;
}
}
@media (max-width:768px){
    .titleBlock2{
font-size: 4vw;;
}
}

.Group1{
    margin-top: 5vw;
    min-height: 60vw;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1vw;
    line-height: 1.2vw;
}
@media (max-width:768px){
    .Group1{
display: flex;
flex-direction: column;
justify-content: space-around;
}
}
.group1{
    text-align: center;
    max-width: 33.33333%;
display: flex;
flex-direction: column;
margin:2%;
}
@media (max-width:768px){
    .group1{
        margin-top: 7%;
       max-width: 50%;
display: flex;
justify-content: center;
}
}
.group2{
    margin:2%;
    text-align: center;
    max-width: 33.33333%;
    display: flex;
    flex-direction: column;
}
@media (max-width:768px){
    .group2{
        text-align: center;
        margin-top: 10%;
        max-width: 50%;
display: flex;
justify-content: center;
}
}
.group3{
    margin:2%;
    max-width: 33.33333%;
    display: flex;
    flex-direction: column;
}
@media (max-width:768px){
    .group3{
        margin-top: 10%;
        max-width: 50%;
display: flex;
justify-content: center;
}
}
.textGroup1{
    letter-spacing: 0.1vw;
    width: 100%;
}
@media (max-width:768px){
    .textGroup1{
font-size: 3vw;
line-height: 4vw;
}
}
.textGroup2{
    letter-spacing: 0.1vw;
    width: 100%;
}
@media (max-width:768px){
    .textGroup2{
font-size: 3vw;
line-height: 4vw;
}
}
.textGroup3{
    letter-spacing: 0.1vw;
    width: 100%;
}
@media (max-width:768px){
    .textGroup3{
font-size: 3vw;
line-height: 4vw;
}
}
.imgGroup1{
    width:100%;
    height: 30vw;
background-image:url("./image-4.png") ;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
@media (max-width:768px){
    .imgGroup1{
        margin-left: 10vw;
        margin-right: 10vw;
width: 80vw;
height: 30vw;
}
}
.imgGroup2{
    width:100%;
    height: 30vw;
background-image:url("./screen-0.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}@media (max-width:768px){
    .imgGroup2{
        margin-left: 10%;
        margin-right: 10%;
width: 50vw;
height: 30vw;
margin-top:20vw;
}
}
.imgGroup3{
    width:100%;
    height: 30vw;
background-image:url("./cross-platform-concept-banner-building-mobile-interface-screen-laptop-smartphone-tablet-developers-use-software-multiple-140348786.webp");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}@media (max-width:768px){
    .imgGroup3{
        margin-top:20vw;
        margin-left: 10vw;
        margin-right: 10vw;
width: 80vw;
height: 30vw
}
}
.titleGroup{
    padding: 2% 0%;
    width: 100%;
    font-size: 1.4vw;
    text-align: center;
}

@media (max-width:1200px){
    .titleGroup{
font-size: 1.35vw;

}
}
@media (max-width:768px){
    .titleGroup{
font-size: 3vw;

}
}
.block_3{
    margin-top: 12vw;
    padding: 0.5vw;
max-width: 100%;
display: flex;
flex-direction: column;
}
@media (max-width:768px){
    .block_3{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
min-height: 110vw;
}
}
@media (max-width:480px){
    .block_3{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
min-height: 110vw;
}
}
.Group2{
    margin-top: 5vw;
    min-height: 30vw;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1vw;
    line-height: 1.2vw;
}
@media (max-width:768px){
    .Group2{
        display: flex;
        flex-direction: column;
margin-top: 10vw;
}
}
.titleBlock3{
    font-size: 1.8vw;
    max-width: 100%;
    max-height: 3vh;
    text-align: center;
    margin-top: 6vw;
}
@media (max-width:768px){
    .titleBlock3{
        font-size: 4vw;
}
}
.textGroup{
    letter-spacing: 0.15vw;
    line-height: 1.5vw;
padding: 0vw 1.5vw;
}
@media (max-width:768px){
    .textGroup{
        font-size: 3vw;
        line-height: 4vw;
}
}
.imgGroup{
    width: 30vw;
     height: 50vw;
    max-height: 90%;
    background-image:url("./ssloiEN3wB0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width:768px){
    .imgGroup{
        background-image: url("./ssloiEN3wB1.jpg");
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2vw;
width: 80%;
height: 50vw;
}
}
footer{
    font-size: 1.2vw;
    max-width: 100%;
    height: 2vw;
background-color: rgba(35, 35, 35, 1);
}
@media (max-width:768px){
    footer{
height: 8vw;
font-size: 3vw;
margin-top: 2vw;
}
}
@media (max-width:480px){
    footer{
height: 8vw;
font-size: 3vw;
}
}
.content{
    width: 100%;
    height: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}
.textFooter{
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    text-align: center;
width: 32%;
}
.sourceFooter1{
    text-align: center;
    height: 100%;
    width: 32%;
    display: flex;
    justify-content: center;
}
.image1{
    width:2vw;
    height: 2vw;
background-image: url("./icons8-телеграмма-app-48.svg");
background-size: cover;
background-repeat: no-repeat;
}
@media (max-width:768px){
    .image1{
width: 8vw;
height: 8vw;
}
}
.sourceFooter2{
    text-align: center;
    height: 100%;
    width: 32%;
    display: flex;
    justify-content: center;
}
.image2{
    width: 2vw;
    height: 2vw;
background-image: url("./icons8-vk-в-круге-48.svg");
background-size: cover;
background-repeat: no-repeat;
}
@media (max-width:768px){
    .image2{
width: 8vw;
height: 8vw;
}
}
.menu{
    width: 20vw;
    height: 20vw;
    background-image: url("./icons8-меню.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.txt2{
    font-size: 1.3vw;
    line-height: 3vw;
}
.txt{
    padding-right: 5%;
    padding-left: 5%;
    font-size: 1.4vw;
    line-height: 2vw;
}
.menu1{
    color: white;
    display: none;
}

@media(max-width:1200px){
    .txt{
        line-height: 1vw;
        font-size: 1vw;
    }
    .txt2{
        font-size: 1.2vw;
    }
}
@media(max-width:768px){
    .ball{
        width: 170%;
        margin:0 5vw;
    }
    .txt{
        line-height:4vw;
        font-size: 2vw;
        margin-left: 25%;
    }
    .txt2{
        line-height: 4vw;
        font-size: 3vw;
        margin-left: 5%;
    }
    }